/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************** End of css reset  ***************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* CSS variables */

:root {
  --background-color: #fff;
  --white-color: #fff;
  --black-color: black;
  /* color: var(--black-color); */
}

body {
  font-family: "Roboto", sans-serif;
  /* font: "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-size: 10px;
  background-color: #fff;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.9rem;
}
p {
  font-size: 1.4rem;
}
/* Navbar */

a,
.navbar-light .navbar-nav .nav-link {
  color: #edf5e1;
  font-size: 1.2rem;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #379683;
}
.navbar-light .navbar-brand {
  color: #edf5e1;
}
.navbar-light .navbar-brand:hover {
  color: #379683;
}
.navbar-custom {
  background-color: #05386b;
}

/* Home Page */

.header-img {
  background: center url("../images/header-image.jpg") no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.header-title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin: 20px;
  color: var(--white-color);
}

.header-title > h1 {
  width: 700px;
  text-align: center;
}
.button-header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.button-header button {
  margin: 10px;
}
.btn-header {
  width: 300px;
  margin: 10px;
}
#steps-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#steps-section > h2 {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.steps {
  display: flex;
  justify-content: space-around;
  margin: 0px 10px 20px 10px;
}
.step-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;

  padding: 40px;
  background-color: #379683;
}
.step-card p {
  margin: 5px;
}

#carousel-section > h2 {
  display: flex;
  justify-content: center;
  margin: 20px;
}
footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #05386b;
}
footer p {
  color: var(--white-color);
}
.copyright {
  position: relative;
  left: 40px;
}
.social-media {
  position: relative;
  left: 400px;
}
#carousel-section {
  margin-bottom: 40px;
}

/* Job cards  */
#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  width: 18rem;
  margin: 10px;
}
.card-header {
  display: flex;
}
.carousel-item {
  height: 500px;
}
.carousel-row {
  display: flex;
  justify-content: space-evenly;
}

/* Charity locations page  */

.map-popup {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 10px;
  width: 250px;
}
.popup-logo {
  width: 50px;
  height: 50px;
  margin: 5px;
}
