/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/************** End of css reset  ***************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* CSS variables */

:root {
  --background-color: #fff;
  --white: #fff;
  --black: black;
  --bright-blue: #30d8b6;
  --blue: #05386b;
  --standard-font: rgb(34, 33, 33);
  /* color: var(--black-color); */
  /* color: var(--bright-blue); */
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  /* font: "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.9rem;
}
p {
  font-size: 1.6rem;
}

h2,
h3,
h4,
p {
  color: var(--standard-font);
}

li {
  list-style-type: none;
}
/* Navbar */

.navbar-light .navbar-nav .nav-link {
  color: var(--white);
  font-size: 1.8rem;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--bright-blue);
}
.navbar-light .navbar-brand {
  color: var(--white);
}
.navbar-light .navbar-brand:hover {
  color: var(--bright-blue);
}
.navbar-custom {
  background-color: #05386b;
}
.navbar img {
  width: 70px;
  border-radius: 50%;
}
button:focus {
  outline: 1px solid white;
}
/* Home Page */

.header-img {
  background: center, url("../images/header-image.jpg"), no-repeat,
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  filter: brightness(50%);
  background-size: cover;
  height: 373px;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -200px;
}
.header-title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: var(--white);
  position: relative;
  bottom: 300px;
}

.header-title > h1 {
  width: 310px;
  text-align: center;
}
.buttons-header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  bottom: 300px;
  height: 120px;
}
.button-header button {
  margin: 10px;
}
.btn-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 73px;
  margin: 10px;
  background-color: var(--white);
  color: var(--blue);
  border-radius: 20px;
  box-sizing: border-box;
}
.btn-header:hover {
  border: 5px solid var(--blue);
  width: 350px;
  height: 140px;
  margin: 10px;
  border-radius: 20px;
}
.btn-header h3 {
  color: var(--blue);
}

.btn-header p {
  color: var(--blue);
}

#steps-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#steps-section > h2 {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.steps {
  display: flex;
  justify-content: space-around;
  margin: 0px 10px 20px 10px;
  flex-wrap: wrap;
}
.step-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 250px;
  padding: 40px;
  box-shadow: 3px 3px 5px rgba(150, 148, 148, 0.74);
  /* box-shadow: inset 0px 0px 10px 10px rgba(73, 70, 70, 0.685); */
  margin: 20px 0;
}
.step-card p {
  margin: 5px;
  text-align: center;
}

.step-card h3 {
  font-size: 2.3rem;
}

.carousel-item {
  height: 500px;
}
.carousel-row {
  display: flex;
  justify-content: space-evenly;
}

#carousel-section > h2 {
  display: flex;
  justify-content: center;
  margin: 20px 7px;
}
.carousel-inner,
.carousel {
  height: 428px;
}
.home-page-card {
  width: 100%;
  height: 424px;
  box-shadow: 0px 0px 10px 0px rgba(73, 70, 70, 0.685);
}
.home-page-card img {
  height: 300px;
  width: 50%;
}
footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  background-color: #05386b;
}
footer p {
  color: var(--white);
  font-size: 1.6rem;
}

#carousel-section {
  margin-bottom: 40px;
}

/* Signup Form Charity/Volunteer */

.signup-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  opacity: 0.85;
  background-color: var(--white);
  border-radius: 20px;
}
.volunteer-signup-card {
  height: 750px;
}
.charity-signup-card {
  height: 920px;
  /* margin: 20px 0px; */
}
.signup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
}
.signup-section-volunteer {
  background: center url("../images/signup-volunteer.jpg"), no-repeat;
  padding: 100px 0;
  background-size: cover;
}
.signup-section-charity {
  background: center url("../images/charity-signup.jpg"), no-repeat;
  padding: 350px 0;
  background-size: cover;
  height: 900px;
}

.signup-section h1 {
  margin: 20px;
  font-size: 3.5rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form input {
  margin: 10px 0px;
  font-size: 1.6rem;
  border: 1px solid black;
  /* padding: 10px; */
  width: 70%;
}

.signup-form textarea {
  margin: 10px 0px;
  font-size: 1.6rem;
  border: 1px solid black;
  width: 70%;
}

.signup-form label {
  font-size: 1.7rem;
}

.signup-form button,
.login-form button {
  margin: 10px;
  padding: 10px;
  width: 100px;
  font-size: 1.6rem;
}

/* Login */

#login-section {
  background: center url("../images/login-image.jpg"), no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  height: 700px;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 90%;
  opacity: 0.85;
  background-color: var(--white);
  border-radius: 20px;
}
.login-card h1 {
  margin: 0px 0px 30px 0px;
  font-size: 4rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
}

.login-form input {
  margin: 10px 0px;
  font-size: 1.6rem;
  border: 1px solid black;
  padding: 5px;
}
.login-form label {
  font-size: 1.6rem;
}

.account-message {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-message > p {
  font-size: 1.6rem;
}
.login-redirect-links {
  display: flex;
  justify-content: center;
}

.login-redirect-links a {
  margin: 5px 0px;
  font-size: 1.6rem;
  width: 150px;
  color: #05386b;
  text-align: center;
}

/* Job cards  */

.card-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 20px; */
  margin: 10px;
  height: 80px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}
.card-body h4 {
  margin: 10px;
}

.job-card-profile {
  width: 30rem; /* 18rem desktop */
  height: 450px;
  margin: 20px 0px;
}

.profile-card-top {
  height: 80px;
}

.card-header {
  display: flex;
}

.card-links {
  color: var(--standard-font);
  font-size: 1.6rem;
}
.card-links:hover {
  color: var(--bright-blue);
}
.card p {
  font-size: 1.6rem;
  text-align: start;
  margin: 5px 0;
}

.card-top img {
  width: 70px;
  height: auto;
}
.card-top a {
  /* width: 50%; */
  height: auto;
  font-size: 1.6rem;
  justify-self: flex-end;
  color: var(--standard-font);
}

.action-btn {
  display: flex;
  justify-content: center;
  color: var(--white);
  width: 50%;
  margin-left: 120px;
  background-color: var(--blue);
}
.join-now-btn {
  margin: 0 auto 20px auto;
  font-size: 1.6rem;
}
.action-btn:hover,
.card-top a:hover {
  color: var(--bright-blue);
}

/* Job listings */
#cards {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
  width: 315px;
  overflow: scroll;
  height: 520px;
}
.card-joblistings {
  width: 30rem;
  height: 494px;
  margin: 10px;
  /* border: 1px solid rgba(73, 70, 70, 0.685); */
  box-shadow: 0px 0px 10px 0px rgba(73, 70, 70, 0.685);
}
.job-listings {
  margin: 20px 0px;
  text-align: center;
}
.job-listings h1 {
  font-size: 2.5rem;
}
.job-listing-section {
  height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}
.charity-locations-btn {
  /* margin:  auto 50px auto;
  font-size: 1.6rem; */
  margin: 10px auto 20px auto;
  padding: 10px;
  width: 180px;
  font-size: 1.6rem;
}

/* Profile Page  Charity/Volunteer*/

.profile {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  margin: 20px 0;
}

.profile-img-volunteer {
  border-radius: 50%;
  width: 70%;
  height: auto;
  margin: 20px;
}
.profile-img-charity {
  width: 50%;
  height: auto;
  margin: 10px;
}
.profile-info-charity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 350px;
  margin: 20px 0;
}

.charity-description {
  width: 300px;
  text-align: justify;
}

.profile-job-cards {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.profile .action-btn {
  margin: 0 auto;
}
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 420px;
}

.profile-info h1 {
  font-size: 3rem;
  margin: 20px auto;
}
.profile-info p,
.profile-job-cards p,
.card-joblistings p {
  margin: 15px;
  font-size: 1.6rem;
  font-weight: 600;
}

span {
  font-weight: normal;
}

.profile-info a {
  width: 120px;
  margin: 9px;
  padding: 10px;
  font-size: 1.6rem;
}
.delete-btn {
  width: 120px;
  margin: 9px;
  padding: 10px;
  font-size: 1.6rem;
  background-color: var(--bright-blue);
  opacity: 1;
  color: var(--blue);
}
.delete-btn:hover {
  color: white;
}
.no-jobs {
  width: 264px;
  text-align: center;
}

/* Edit profile volunteer */
.edit-profile-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 36px;
}
.profile-edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit-profile-section h1 {
  margin: 0px 0px 20px 0px;
}

.profile-edit-form input {
  margin: 10px 0px;
  font-size: 1.6rem;
  border: 1px solid black;
  padding: 5px;
  width: 200px;
}
.profile-edit-form label,
.profile-edit-form textarea {
  font-size: 1.6rem;
}
.profile-edit-form textarea {
  width: 200px;
  margin: 10px auto;
}

.edit-button {
  width: 150px;
  margin: 9px;
  padding: 10px;
  font-size: 1.6rem;
}

/* Charity Edit Profile */

/* .charity-profile-edit {
  margin-bottom: 30px;
} */

.edit-form-border {
  border-bottom: 1px solid var(--standard-font);
  width: 110%;
  margin: 25px 0;

  box-shadow: 0 15px 10px -15px var(--standard-font);
}

/* Charity locations page  */

.map-popup {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 10px;
  width: 150px;
}
.popup-logo {
  width: 50px;
  height: 50px;
  margin: 5px;
}

#charity-location {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* align-items: center; */
  justify-content: space-between;
  height: 700px;
}
#charity-location h1 {
  margin: 20px auto;
}
#charity-location a {
  margin: 10px auto 20px auto;
  padding: 10px;
  width: 180px;
  font-size: 1.6rem;
}
.popup-link {
  color: rgb(34, 33, 33) !important;
}
#charity-location a:hover {
  color: #30d8b6 !important;
}
#charity-location p {
  width: 300px;
  margin: 30px auto 20px auto;
  font-size: 1.6rem;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 1.9rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.4rem;
  }

  .header {
    margin-bottom: -120px;
  }
}
